EXCHANGE_HOST=http://localhost:4005   # the url for the workflow coordinator
APP_HOST=http://localhost:3000       # the base url on which this app is running
SMTP_HOST=smtp.sendgrid.net  # note this can of course be any email service that supports smtp
SMTP_USER=apikey            # whatever the user name is for your service
SMTP_PASS=ADD YOUR PASSWORD HERE
EMAIL_FROM=Digital Credentials Consortium Demo Isser <somebody@somewhere.youremaildomain>
AUTH_SECRET= generate a secret key, using something like 'openssl rand -base64 32' on osx
